#contacto {
    background: linear-gradient(to top, var(--color-sky-blue) 0%, var(--color-white) 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 3rem;
}

/* Blob */
    .contact-image {
        position: relative;
        width: 35rem;
        aspect-ratio: 1;
        background: linear-gradient(135deg, var(--color-deep-blue), var(--color-sky-blue));
        clip-path: shape(
            from 80.41% 38.74%,
            curve to 78.45% 70.78% with 77.34%  53.45%,
            curve to 62.72% 85.33% with 79.56%  88.11%,
            curve to 32.80% 78.02% with 45.89%  82.55%,
            curve to 13.42% 59.04% with 19.72%  73.49%,
            curve to 19.61% 35.75% with 7.12%   44.58%,
            curve to 43.73% 17.24% with 32.10%  26.92%,
            curve to 69.42% 15.79% with 55.36%  7.55%,
            curve to 80.41% 38.74% with 83.48%  24.03%
        );
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s ease, box-shadow 0.4s ease;
    }

/* Imagen */
    .contact-image img {
        width: 60%;
        height: auto;
        margin-top: 8rem;
        margin-right: 3rem;
        object-fit: contain;
        transform: translateY(5%);
    }

    .contact-image:hover {
        transform: scale(1.08) rotate(-2deg);
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
    }

/* Info */
    .contact-info {
        flex: 1;
        max-width: 22rem;
        text-align: left;
    }

    .contact-info h2 {
        color: var(--color-royal-blue);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .contact-info h3 {
        color: var(--color-red);
        font-weight: 600;
        margin-bottom: 2rem;
    }

/* Iconos*/
    .contact-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1rem;
        padding: 1rem 0.5rem;
    }

    .contact-item img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        flex-shrink: 0;
        filter: brightness(0) saturate(100%) invert(34%) sepia(78%) saturate(2257%) hue-rotate(189deg) brightness(85%) contrast(93%);
    }

    .contact-item div {
        flex: 1;
    }

    .contact-item strong {
        color: var(--color-royal-blue);
        display: block;
    }

    .contact-item p {
        color: var(--color-medium-gray);
        margin: 0.2rem 0 0 0;
        font-size: 0.95rem;
    }

    .contact-item:hover {
        background: linear-gradient(135deg, var(--color-deep-blue), var(--color-sky-blue));
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
        border-radius: 0.5rem ;
        height: 5rem;
        width: 20rem;
        padding: 1rem 1rem;
        cursor: pointer;
    }

    .contact-item:hover strong,
    .contact-item:hover p {
        color: var(--color-white);
    }

    .contact-item:hover img {
        filter: brightness(0) invert(1);
    }

/* Mapa */
    .map-container {
        width: 30rem;
        height: 25rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.2);
    }
