#questions {
    background: linear-gradient(to bottom, var(--color-sky-blue) 0%, var(--color-white) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Título */
    .faq-wrapper {
        margin: 0 auto;
    }

    .faq-header {
        text-align: center;
        margin-bottom: clamp(2rem, 3vw, 4rem);
    }

    .faq-header h2 {
        font-size: clamp(1.5rem, 1.75vw, 2rem);
        font-weight: 700;
    }

    .faq-header .questions { color: var(--color-royal-blue); }
    .faq-header p { color: var(--color-medium-gray); font-size: 1rem; }

/* Contenedor principal */
    .faq-container {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: clamp(2rem, 6vw, 7rem);
        width: 100%;
    }

/* Video */
    .faq-video {
        flex: 0 0 55%;
        min-width: clamp(18rem, 35vw, 55rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .video-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
        overflow: hidden;
    }

    .video-slide {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dark-gray);
    }

    .video-slide.active {
        display: flex;
    }

    .video-slide iframe {
        width: auto;
        height: 100%;
        max-width: 100%;
    }

/* Flechas */
    .video-arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(1.5rem, 1.75vw, 2rem);
        width: clamp(1rem, 1.5vw, 1.5rem);
        top: clamp(40%, 45%, 50%);
        transform: translateY(-50%);
        color: var(--color-medium-gray);
        border: none;
        background: none;
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        cursor: pointer;
        border-radius: 30%;
        z-index: 50;
    }

    .video-arrow:hover { color: var(--color-lime-green); }
    .faq-video .video-arrow.left { left: clamp(-2rem, -1.5vw, -1rem); }
    .faq-video .video-arrow.right { right: clamp(-2rem, -1.5vw, -1rem); }

/* Puntos */
    .video-dots {
        margin-top: clamp(0.5rem, 1vw, 1rem);
        text-align: center;
    }

    .video-dots .dot {
        display: inline-block;
        width: clamp(0.6rem, 1vw, 1rem);
        height: clamp(0.6rem, 1vw, 1rem);
        background: var(--color-medium-gray);
        border-radius: 50%;
        margin: 0 clamp(0.25rem, 0.5vw, 0.5rem);
        cursor: pointer;
        transition: background 0.2s;
    }

    .video-dots :hover { background: var(--color-lime-green); }
    .video-dots .dot.active { background: var(--color-royal-blue); }

/* Acordeón */
    .faq-accordion {
        flex: 0 0 38%;
        max-width: clamp(18rem, 22vw, 25rem);
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 1vw, 1rem);
        margin-top: clamp(0.5rem, 1vw, 1rem);
    }

    .accordion-item {
        position: relative;
    }

    /* Cabecera de la pregunta */
    .accordion-header {
        display: flex;
        align-items: center;
        gap: clamp(0.5rem, 1vw, 1rem);
        background: none;
        border: none;
        width: 100%;
        color: var(--color-dark-gray);
        font-weight: 600;
        cursor: pointer;
        text-align: left;
        font-size: clamp(0.8rem, 0.9vw, 1rem);
        padding-bottom: clamp(0.3rem, 0.4vw, 0.5rem);
        border-bottom: 0.1rem solid var(--color-medium-gray);
        transition: border-color 0.3s;
    }

    /* Iconos */
    .accordion-icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-royal-blue);
        color: var(--color-white);
        font-size: clamp(0.8rem, 0.9vw, 1rem);
        font-weight: bold;
        border-radius: 50%;
        width: clamp(1.5rem, 1.75vw, 2rem);
        height: clamp(1.5rem, 1.75vw, 2rem);
        flex-shrink: 0;
    }

    /* Lineas*/
    .accordion-item.active .accordion-icon-circle {
        background: var(--color-lime-green);
    }
    
    .accordion-item.active .accordion-content {
        display: block;
        border-bottom: 0.1rem solid var(--color-medium-gray);
    }

    /* Flecha de acordeón */
    .accordion-chevron {
        color: var(--color-royal-blue);
        font-size: clamp(0.8rem, 0.9vw, 1rem);
        margin-left: auto;
        transition: transform 0.25s, color 0.25s;
        transform: rotate(270deg);
    }

    .accordion-item.active .accordion-chevron {
        transform: rotate(90deg);
        color: var(--color-lime-green);
    }

    /* Contenido */
    .accordion-content {
        display: none;
        padding: clamp(0.6rem, 1vw, 1rem) 0 0 clamp(2rem, 3vw, 3rem);
        color: var(--color-dark-gray);
        line-height: 1.6;
        font-size: clamp(0.8rem, 0.9vw, 1rem);
    }

    .accordion-item.active .accordion-content {
        display: block;
    }

/* Responsividad */
    @media (max-width: 768px) {
        .faq-container {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .faq-video,
        .faq-accordion {
            flex: 0 0 100%;
            max-width: 90%;
        }

        .faq-accordion {
            margin-top: 1.5rem;
        }

        .faq-video .video-arrow.left {
            left: 0.5rem;
        }

        .faq-video .video-arrow.right {
            right: 0.5rem;
        }
    }
