footer {
    position: fixed;
    bottom:0; left:0; width:100%;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
    background: var(--color-dark-green);
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 35rem;
    text-align: center;
    padding: 1rem 2rem;
    z-index: 1000;
}