<!-- Redes Sociales -->
<div class="social-buttons">
    <a href="#" class="btn-tiktok">
        <img src="../../assets/icons/Tiktok.png" alt="Tiktok" class="socials">
        <span>TikTok</span>
    </a>
    <a href="#" class="btn-whatsapp">    
        <img src="../../assets/icons/Whatsapp.png" alt="Whatsapp" class="socials">
        <span>WhatsApp</span>
    </a>
    <a href="#" class="btn-facebook">
        <img src="../../assets/icons/Facebook.png" alt="Facebook" class="socials">
        <span>Facebook</span>
    </a>
</div>

<!-- Botón Matricula -->
<button class="btn-matricula" id="btnEnroll">¡Matricúlate!</button>

<!-- Botón Subir -->
<button class="btn-up" id="btnUp">&#10095;</button>
