/* Botones Flotantes */
    .social-buttons {
        position:fixed;
        bottom:4rem;
        left:1rem;
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        z-index:999;
    }
    .social-buttons a {
        width:4rem; height:4rem;
        border-radius:50%;
        display:flex; justify-content:center; align-items:center;
        color:var(--color-white);
        font-size:1.5rem;
        text-decoration:none;
        position:relative;
        transition:all 0.3s ease;
    }
    .social-buttons a span {
        position:absolute;
        left:1rem;
        opacity:0;
        color:var(--color-white);
        padding:0.5rem 1rem;
        border-radius:0.5rem;
        white-space:nowrap;
        transition:all 0.3s ease;
        font-size:1.5rem;
    }

    .social-buttons a img.socials {
        width:2rem; height:2rem; transition: transform 0.3s ease;
    }

    .btn-whatsapp { background:var(--color-lime-green); }
    .btn-tiktok { background: var(--color-black) }
    .btn-facebook { background:var(--color-royal-blue); }

    .btn-whatsapp span { background: var(--color-lime-green); }
    .btn-tiktok span { background: var(--color-black); }
    .btn-facebook span { background: var(--color-royal-blue); }

    .social-buttons a:hover span { opacity:1; left:5rem; }

    .social-buttons a:hover img.socials { transform: scale(1.2); }

/* Botón Matricula */
    .btn-matricula {
        position:fixed;
        bottom:7rem; right:1rem;
        background:linear-gradient(45deg, var(--color-dark-green), var(--color-deep-blue));
        color:var(--color-white);
        padding:1rem 2rem;
        font-size:1.5rem;
        font-weight:bold;
        border:none;
        border-radius:0.5rem;
        cursor:pointer;
        z-index:1000;
    }

/* Animación Sacudida */
    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-0.5rem); }
        40% { transform: translateX(0.5rem); }
        60% { transform: translateX(-0.5rem); }
        80% { transform: translateX(0.5rem); }
        100% { transform: translateX(0); }
    }

    .shake {
      animation: shake 0.6s;
    }

/* Botón Subir */
    .btn-up {
        display:none;
        position:fixed;
        transform: rotate(-90deg);
        bottom:4rem; right:1.5rem;
        width:2.5rem; height:2.5rem;
        border-radius:50%;
        background:var(--color-deep-blue);
        color:var(--color-white);
        border:none;
        cursor:pointer;
        font-size:1.4rem;
        display: flex;               
        justify-content: center;    
        align-items: center;    
        z-index:999;
    }

    .btn-up:hover {
        background:var(--color-dark-green);
    }
