#offers {
    background: linear-gradient(to top, var(--color-sky-blue) 0%, var(--color-white) 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

/* Titulares */
    #offers h3 {
        color: var(--color-royal-blue);
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
    }

    #offers h2 {
        color: var(--color-dark-green);
        font-size: 2rem;
        max-width: 50rem;
        margin: 0 auto 1.2rem;
        line-height: 1.4;
    }

    #offers p {
        color: var(--color-medium-gray);
        margin-bottom: 2.5rem;
        font-size: 1.1rem;
        max-width: 60rem;
    }

/* Grid de tarjetas */
    .offer-grid {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1rem;
    }

/* Tarjetas */
    .offer-card {
        background: var(--color-white);
        border-radius: 1rem;
        box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
        width: 18rem;
        padding: 3rem 2rem;
        transition: all 0.3s ease;
        cursor: pointer;
        border-bottom: 0.4rem solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .offer-card .icono img {
        width: 5rem;
        height: 5rem;
        filter: brightness(0) saturate(100%) invert(28%) sepia(9%) saturate(626%) hue-rotate(93deg) brightness(95%) contrast(91%);
        transition: all 0.3s ease;
    }

    .offer-card h4 {
        margin-top: 1rem;
        font-size: 1.3rem;
        color: var(--color-dark-gray);
    }

    .offer-card:hover {
        border-bottom: 0.4rem solid var(--color-lime-green);
        transform: translateY(-0.4rem);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }

    .offer-card:hover .icono img {
        filter: brightness(0) saturate(100%) invert(36%) sepia(90%) saturate(697%) hue-rotate(95deg) brightness(94%) contrast(92%);
    }

    .offer-card:hover h4 {
        color: var(--color-dark-green);
    }
