header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 clamp(0.2rem, 0.3vw, 0.4rem) clamp(0.4rem, 0.6vw, 0.8rem) rgba(0,0,0,0.2);
    background: var(--color-dark-green);
    color: var(--color-white);
    font-size: clamp(1rem, 1.25vw, 1.5rem); /* escalable */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.5rem, 0.75vw, 1rem) clamp(1rem, 1.5vw, 2rem);
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
}

header nav ul {
    list-style: none;
    display: flex;       
    flex-direction: row;
    gap: clamp(0.5rem, 1.25vw, 2rem);
    margin: 0;
    padding: 0;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    padding-bottom: clamp(0.2rem, 0.3vw, 0.4rem);
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

header nav ul li a:hover {  transform: scale(1.2); }

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: clamp(0.2rem, 0.25vw, 0.3rem);
    background: var(--color-white);
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header nav ul li a:hover::after,
header nav ul li a.active::after {
    transform: scaleX(1);
}

header .logo-container a::after {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: clamp(2rem, 2.25vw, 2.5rem);
    width: auto;
    margin-left: clamp(-0.5rem, -0.75vw, -1rem);
    margin-top: clamp(-0.5rem, -0.75vw, -1rem);
    margin-bottom: clamp(-0.5rem, -0.75vw, -1rem);
}