.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Slide */
    .slide {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        background: linear-gradient(to bottom, var(--color-deep-blue), var(--color-sky-blue));
        color: var(--color-white);
        opacity: 0;
        transition: opacity 1s ease-in-out;
        padding: 0 0.5rem;
        gap: 0rem;
    }

    .slide {
        pointer-events: none;
    }

    .slide.active { opacity: 1; pointer-events: auto; }

/* Contenedor de texto para limitar ancho */
    .slide .text-container {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* Títulos y párrafos */
    .slide h1 { 
        font-size: 2rem; 
        margin-bottom: 1rem; 
    }

    .slide p { 
        font-size: 1.5rem; 
        margin-bottom: 2rem; 
    }

/* Botón a la izquierda */
    .slide button {
        font-size: 1.5rem; 
        background: transparent;
        color: var(--color-white);
        border: 0.2rem solid var(--color-white);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-bottom: 9rem;
        align-self: flex-start;
    }

    .slide button:hover {
        background: var(--color-lime-green);
        border-color: var(--color-lime-green);
        box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
    }

/* Imagen a la derecha */
    .slide img {
        height: 70%;
        width: auto;
        object-fit: contain;
    }

/* Curva inferior tipo ola */
    .curve {
        position:absolute;
        bottom:0;
        width:100%;
        overflow:hidden;
        line-height:0;
        z-index:5;
    }

    .curve svg {
        display:block;
        width:100%;
        height:25rem;
    }

    .curve path { fill:var(--color-white); }

/* Flechas */
    .arrow {
        position: absolute;
        top: 40%;
        font-size: 3rem;
        color: var(--color-white);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
        display: flex;               
        justify-content: center;    
        align-items: flex-end;     
    }

    .arrow.left { left: 1rem; }
    .arrow.right { right: 1rem; }

    .arrow:hover {
        color: var(--color-sky-blue);
        background: var(--color-light-gray);
    }